[Unit]
Description=Changing the keyboard layout like MacOS

[Service]
Type=simple
ExecStart=%h/.cargo/bin/xremap %h/workbench/workstation-setup/ubuntu/shorcuts/xremap.yml
Restart=on-failure

[Install]
WantedBy=default.target
